.App {
  background: #101452;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  margin-top: 500px;
  background: #101222;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 1px 1px rgba(46, 20, 197, 0.15);
  margin:0 auto;
  max-width: 600px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.todo {
  background: #634aaa;
  box-shadow: 1px 1px 1px rgba(46, 20, 197, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  font-weight: bold;
  font-size: medium;
  align-items: center;
  color: aqua;
  justify-content: space-between;
}
.input{
  background: #634aaa;
  box-shadow: 1px 1px 1px  rgba(46, 20, 197, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  color: aqua;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: medium;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}
.button {
  background: #634aaa;
  box-shadow: 1px 1px 1px rgba(46, 20, 197, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  color: aqua;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 6px;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}